<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <style>
  .color{
    color: white;
  }
  </style>
  <body>
    <div class="container" ng-controller = "Dashboard">
      <h3>Profile</h3>
      <hr />

      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-5">
              <div class="card card-profile">
                <div class="card-avatar">
                  <!-- <a href="#pablo"> -->
                    <img class="img"  ng-src= "{{img}}" >
                    <!-- p -->
                  <!-- </a> -->
                </div>
                <div class="card-body">
                  <h6 class="card-category text-gray">{{usertype}}</h6>
                  <h4 class="card-title">{{username}}</h4>
                  <p class="card-description">{{desc || 'Update your Profile'}}</p>
                </div>
              </div>
            </div>
            <div class="col-md-7">
              <div class="card">
                <div class="card-header card-header-icon card-header-rose">
                  <div class="card-icon">
                    <i class="material-icons">perm_identity</i>
                  </div>
                  <h4 class="card-title">
                    Profile
                    <!-- <small class="category">Complete your profile</small> -->
                  </h4>
                </div>
                <div class="card-body">
               

                  <form>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label class="bmd-label-floating">Employe Id : </label>
                              <label class="primary text-primary" for="">{{userId || 'Update your Profile'}}</label>
                            </div>
                          </div>
                          <!-- <div class="col-md-6">
                                
                              </div> -->
                        </div>
                        <div class="row">
                           <div class="col-md-12">
                                <div class="form-group">
                                        <label class="bmd-label-floating">UserName : </label>
                                        <label class="primary text-primary" for="">{{username || 'Update your Profile'}}</label>
                                       
                                      </div>
                           </div>
                        </div>
                        <div class="row">
                                
                                <div class="col-md-12">
                                  <div class="form-group">
                                    <label class="bmd-label-floating">Email Id : </label>
                                    <label class="primary text-primary" for="">{{email || 'Update your Profile'}}</label>
                                   
                                  </div>
                                </div>
                              </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="bmd-label-floating">Fist Name : </label>
                              <label class="primary text-primary" for="">{{first || 'Update your Profile'}}</label>
                             
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="bmd-label-floating">Last Name : </label>
                              <label class="primary text-primary" for="">{{second || 'Update your Profile'}}</label>
                             
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-7">
                            <div class="form-group">
                              <label class="bmd-label-floating">Address : </label>
                              <label class="primary text-primary" for="">{{Address || 'Update your Profile'}}</label>
                              
                            </div>
                          </div>

                          <div class="col-md-5">
                            <div class="form-group">
                              <label class="bmd-label-floating">phone</label>
                              <label class="primary text-primary" for="">{{phone || 'Update your Profile'}}</label>
                              
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="bmd-label-floating">City : </label>
                              <label class="primary text-primary" for="">{{city || 'Update your Profile'}}</label>
                              
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="bmd-label-floating">Country : </label>
                              <label class="primary text-primary" for="">{{country || 'Update your Profile'}}</label>
                              
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="bmd-label-floating">Postal Code : </label>
                              <label class="primary text-primary" for="">{{pincode || 'Update your Profile'}}</label>
                            </div>
                          </div>
                        </div>
                      
                        <a class="color" ng-href="#/Editprofile"><button type="submit"  class="btn btn-rose pull-right">Update Profile</button></a>
                        <div class="clearfix"></div>
                      </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
