<div class="box" ng-controller = "ctrl">
        <h2 class="text-center  alert-info">Login</h2>
        
        <div class="input-group mb-4 ">
                <div class="input-group-prepend">
        <label for="" class="input-group-text">userType</label>
          </div>
        <select ng-model = "drop">
                <option disabled selected value>-- select an option --</option>
                <option value="admin">admin</option>
                <option value="tester">tester</option>
                <option value="devloper">devloper</option>
        </select>
        </div>

        <div class="input-group mb-4">
                <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-lg">UserName</span>
                </div>
                <input placeholder = "Enter UserName"ng-model = "logUsername" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
        </div>

        <div class="input-group mb-4">
                <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-lg">Password</span>
                </div>
                <input placeholder = "Enter Password" ng-model = "logPassword" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
        </div>

        <button type="button"  ng-click = "login()" class="btn btn-primary float-right mr-4">login</button>
        {{loginmsg}}
   </div>
