<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
.inp{
       font-size: 25px;
       border: 1px solid #9C27B0;
       padding: 25px;
       border-radius: 25px;
    }
</style>
<body>
    <div class="container">
      <h3>Employes List</h3>
        <hr>

        <input class="form-control inp mb-3 mt-3"  type="text" ng-model="search" placeholder=" 🔍 Search User "  >
        <div class="content" ng-controller="myctrl">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="card">
                        <div class="card-header card-header-primary">
                          <h4 class="card-title ">Devlopers</h4>
                          <p class="card-category">List of All Devlopers</p>
                        </div>
                        <div class="card-body">
                          <div class="table-responsive">
                            <table class="table">
                              <thead class=" text-primary">
                                <th>userId</th>
                                <th>usertype</th>
                                <th>username</th>
                                <th>password</th>
                                <th>email</th>
                              </thead>
                              <tbody ng-init = "users">
                                    <tr ng-repeat = "user in users|filter:search" ng-model = "val"  ng-class = "{'alert-danger': user.markfordelete}">
                                            <td  ng-repeat = "(key,value) in user" ng-if="key != '_id' && key != '__v'  && key != 'firsttym' && key != 'markfordelete'" >
                                                {{value}}
                                                
                                                
                                            </td>
                                    </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>

                
                      <div class="container-fluid">
                          <div class="row">
                            <div class="col-md-12">
                              <div class="card">
                                <div class="card-header card-header-rose">
                                  <h4 class="card-title ">Testers</h4>
                                  <p class="card-category">List of all Tester</p>
                                </div>
                                <div class="card-body">
                                  <div class="table-responsive">
                                    <table class="table">
                                      <thead class=" text-primary">
                                        <th>userId</th>
                                        <th>usertype</th>
                                        <th>username</th>
                                        <th>password</th>
                                        <th>email</th>
                                      </thead>
                                      <tbody ng-init = "users">
                                            <tr ng-repeat = "user in users|filter:search" ng-model = "val"  ng-class = "{'alert-danger': user.markfordelete}">
                                                    <td  ng-repeat = "(key,value) in user" ng-if="key != '_id' && key != '__v'  && key != 'firsttym' && key != 'markfordelete'" >
                                                        {{value}}
                                                        
                                                        
                                                    </td>
                                            </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                </div>
                      </div>         
    </div>
</body>
</html>