.box{
    /* min-width: 250px; */
    width: 500px;
    min-height: 450px;
    height: auto;
    border: 1px solid black;
    margin: 35px;
    padding: 10px;
}


select{
    /* padding: 10px; */
    width: 300px;
}


  
 