<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <!-- <link rel="stylesheet" href="style.css"> -->
</head>
<style>
  /* .drop{
    border: 1px solid #9C27B0;
    border-radius: 25px;
    font-size: 15px;
  } */
  /* .mylabel{
    padding: 5px;
    margin-top: 35px;

  } */
  .alert-danger{
    color: black;
  }
  .drop:focus{
    outline: none;
  }
    .inp{
       font-size: 25px;
       border: 1px solid #9C27B0;
       padding: 25px;
       border-radius: 25px;
    }
    .check{
        padding-left: 25px;
        padding-bottom: 10px;
    }
    .check label{
        font-size: 18px;
    }
    .check input{
        width: 15px; height: 15px;
    }
   .rights{
       text-align: left;
   }
</style>
<body>
    <div class="container" ng-controller = "controller">
        
        <h3>Edit Users</h3>
        <hr>
        <input class="form-control inp mb-3 mt-3"  type="text" ng-model="search" placeholder=" 🔍 Search User "  >
    

        <div class="content">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="card">
                        <div class="card-header card-header-rose card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">assignment</i>
                              </div>
                          <h4 class="card-title ">Users Table</h4>
                          <p class="card-category">List of all user you can edit or delete them to</p>
                        </div>
                        <div class="card-body">
                          <div class="table-responsive">
                            <table class="table">
                              <thead class=" text-primary">
                                <th>userId</th>
                                <th>usertype</th>
                                <th>username</th>
                                <th>password</th>
                                <th>email</th>
                                <th>Edit/Delete</th>
                              </thead>
                              <tbody ng-init = "users">
                                    <tr ng-repeat = "user in users|filter:search" ng-model = "val"  ng-class = "{'alert-danger': user.markfordelete}">
                                            <td  ng-repeat = "(key,value) in user" ng-if="key != '_id' && key != '__v'  && key != 'firsttym' && key != 'markfordelete'" >
                                                {{value}}
                                                
                                                
                                            </td>
                            
                                            <td >    
                                                    <button id='btn' set-focus='question1' ng-click = "edit(user)" class='btn btn-sm btn btn-light  mr-2'><i class="fas fa-edit"></i>&nbsp;Edit</button>
                                                    <button id="add" ng-click = "delete(user)" class='btn btn-danger btn-sm'><i class="fas fa-trash-alt mr-2"></i>&nbsp;Delete</button>
                                            </td>
                                    </tr>
                              </tbody>
                            </table>
                          </div>
                          <!-- <button set-focus='question1' type="button" class="btn btn-primary btn-round mr-2 float-right"><i class="fas fa-plus-square"></i>&nbsp;&nbsp;Add Profile</button>     -->
                      <button ng-click = "deleted()" class="btn btn-danger mr-2 float-right btn-round"><i class="fas fa-trash-alt"></i> &nbsp;Delete</button>

                        </div>
                        
                      </div>
                  
                    </div>
                    
</div>  
</div>
        </div>
<!-- *************************************************Edit Profile page Section*************************** -->
        <div class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-8">
                <div class="card">
                  <div class="card-header card-header-primary">
                    <h4 class="card-title">Edit  Profile</h4>
                    <p class="card-category">Edit or Add new rights to Profile</p>
                  </div>
                  <div class="card-body">
                    <form>
                      
                      <!-- <div class="dropdown mb-4 mt-3"> -->
                          <div class="form-group mb-4">
                              <label class="bmd-label-floating">UserType</label>
                              
                              <select id="question1"  ng-model = "type" ng-change = "what(type)"  class="mt-4 mb-4 form-control drop">
                                  <option disabled selected value>-- select an option --</option>
                                  <option value="admin">admin</option>
                                  <option value="tester">tester</option>
                                  <option value="devloper">devloper</option>
                              </select>
                            </div>
                      <!-- </div> -->
                      
                        
                      <div class="form-group mb-4">
                          <label class="bmd-label-floating">UserName</label>
                          <input  ng-model = "name" type="text" class="form-control" disabled>
                        </div>

                        <div class="form-group mb-4 mt-4">
                            <label class="bmd-label-floating">Password</label>
                            <input  ng-model = "password" type="text" class="form-control" disabled>
                          </div>

                          <div class="form-group mb-4 mt-4">
                              <label class="bmd-label-floating">Email</label>
                              <input ng-model = "email" type="text" class="form-control" disabled>
                          </div>


                          

                          <!-- <div class="dropdown mb-4 mt-3">
                              <div class="form-group">
                                  <label >Alow user to change Password(First time user or not)</label>
                                  
                                  <select ng-model = "firsttym"  class="mt-4 mb-4 form-control drop" >
                                      <option disabled selected value>-- select an option --</option>
                                      <option value="true">allow</option>
                                      <option value="false">not allow</option>
                                  </select>
                                </div>
                          </div> -->

                        <div class="mt-5 mb-5">
                        <!-- <button type="submit" ng-click = "addUser()" class="btn btn-primary pull-right mr-3 btn-round"><i class="fas fa-plus-square"></i>&nbsp;&nbsp;Add Profile</button> -->
                        <button type="submit" ng-click = "update()" class="btn btn-primary pull-right mr-3 btn-round"><i class="fas fa-edit"></i>&nbsp;&nbsp;Update Profile</button>
                      </div>
                        <div class="clearfix"></div>
                    </form>
                  </div>
                </div>
                
              </div>

        <!--***********************Rights List ***************************************  -->

        <div class="col-md-4">
          <div class="card card-profile">
          
            <div class="card-body">
              <!-- <h6 class="card-category text-gray">Only for Admin</h6> -->
              <h4 class="card-title">Add Rights</h4>
              <p class="card-description">
                You can Add different rights to different user
              </p>

              <div class="rights">
            
            
              <p class="text-center card-description">
                  ---------------------Admin Rights---------------------
              </p>
              <div ng-init = "Adminrights" ng-repeat = "right in Adminrights" class="check">
                <div ng-repeat = "(key,value) in right" ng-if = "key == 'rightName'">
               
              <input  ng-disabled = "allAdmin" ng-checked = "allAdmin"  ng-click = "checkbox(right)"  class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              <label class="form-check-label text-primary" for="defaultCheck1">
                {{value}}
              </label>
            </div>
              </div>
            
          
                
              
                  <p class="text-center card-description">
                      ---------------------Tester Rights---------------------
                        </p>
                        <div ng-init = "TesterRights" ng-repeat = "right in TesterRights" class="check">
                            <div ng-repeat = "(key,value) in right" ng-if = "key == 'rightName'">
                          <input  ng-disabled = "allTester" ng-checked = "allTester"  ng-click = "checkbox(right)"  class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                          <label class="form-check-label text-primary" for="defaultCheck1">
                            {{value}}
                          </label>
                        </div>
                          </div>
                
                            <p class="text-center card-description">
                                ---------------------Devloper Rights---------------------
                                </p>
                                <div ng-init = "DevRights" ng-repeat = "right in DevRights" class="check">
                                    <div ng-repeat = "(key,value) in right" ng-if = "key == 'rightName'">
                                  <input  ng-disabled = "allDevloper" ng-checked = "allDevloper"  ng-click = "checkbox(right)"  class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                  <label class="form-check-label text-primary" for="defaultCheck1">
                                    {{value}}
                                  </label>
                                </div>
                                  </div>
                                
                                                
              </div>
              <!-- <a href="#pablo" class="btn btn-primary btn-round">Add Rights</a> -->
            </div>
          </div>
        </div>
        </div>
        </div>
        </div>
  <!-- <button ng-click = "tryme()">try me</button> -->
</div>

     

</body>
</html>