.uploadExcel{
    margin-top: 50px;
}

/* #9C27B0 */
.mycolor{
    background-color: #9C27B0;
    color: white;
    
    border-radius: 50px;
}
.uploadExcel table{
    border: 1px solid #9C27B0;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}