<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  
</head>
<style>
.mycls{
  padding-bottom: 15px;
}
</style>
<body>
  
  <div class="container uploadExcel " ng-controller="myctrl">
  <h3>Add Users</h3>
  <hr>
  <div>
        <h2>{{msg}}</h2>
        <form   name="form">
            <label for="">Choose File to Upload</label>
            
                      
               <button class="btn  btn-round btn-info"  type="file" ngf-select ng-model="file" 
               name="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" ngf-max-size="2MB"><i class="material-icons">cloud_upload</i>&nbsp;Choose File</button>
              <label for="">{{file.name}}</label>  

               <button class="btn btn-success  btn-round"  ng-click="submit(file)">submit</button>
              </form>
              
              <img ngf-thumbnail="file">

</div>

<div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title ">Add Single User</h4>
              <p class="card-category">You can Add Single User</p>
            </div>
            <div class="card-body">
                <form>
                      
                    <!-- <div class="dropdown mb-4 mt-3"> -->
                        <div class="form-group mycls mb-4">
                            <label class="bmd-label-floating">UserType</label>
                            
                            <select  ng-model = "type" ng-click = "what(type)"  class="mt-4 mb-4 form-control drop">
                                <option disabled selected value>-- select an option --</option>
                                <option value="admin">admin</option>
                                <option value="tester">tester</option>
                                <option value="devloper">devloper</option>
                            </select>
                          </div>
                    <!-- </div> -->
                    
                      
                    <div class="form-group mb-4">
                        <label class="bmd-label-floating">UserName</label>
                        <input id="question1" ng-model = "name" type="text" class="form-control">
                      </div>

                      <div class="form-group mb-4 mt-4">
                          <label class="bmd-label-floating">Password</label>
                          <input ng-model = "password" type="text" class="form-control">
                        </div>

                        <div class="form-group mb-4 mt-4">
                            <label class="bmd-label-floating">Email</label>
                            <input ng-model = "Email" type="text" class="form-control">
                        </div>


                        

                        <!-- <div class="dropdown mb-4 mt-3">
                            <div class="form-group">
                                <label >Alow user to change Password(First time user or not)</label>
                                
                                <select ng-model = "firsttym"  class="mt-4 mb-4 form-control drop" >
                                    <option disabled selected value>-- select an option --</option>
                                    <option value="true">allow</option>
                                    <option value="false">not allow</option>
                                </select>
                              </div> -->
                        </div>

                      <div class="mt-5 mb-5">
                      <button type="submit" ng-click = "addUser()" class="btn btn-primary pull-right mr-3 btn-round"><i class="fas fa-plus-square"></i>&nbsp;&nbsp;Add Profile</button>
                      <!-- <button type="submit" ng-click = "update()" class="btn btn-primary pull-right mr-3 btn-round"><i class="fas fa-edit"></i>&nbsp;&nbsp;Update Profile</button> -->
                    </div>
                      <div class="clearfix"></div>
                  </form>
            </div>
          </div>
        </div>
        </div>
        </div>
        </div>



</div>
</body>
</html>
